global:
  resolve_timeout: 5m

route:
  receiver: default-webhook
  group_by:
    - alertname
    - component
    - severity
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 2h
  routes:
    - matchers:
        - severity="critical"
      receiver: critical-webhook
    - matchers:
        - severity="warning"
      receiver: warning-webhook

receivers:
  - name: default-webhook
    webhook_configs:
      - url: http://alert-webhook:8080/default
        send_resolved: true

  - name: critical-webhook
    webhook_configs:
      - url: http://alert-webhook:8080/critical
        send_resolved: true

  - name: warning-webhook
    webhook_configs:
      - url: http://alert-webhook:8080/warning
        send_resolved: true
